<div class='text-center'>
  <h1>LoadX</h1>
  <p>LoadX is the easiest way for Companies/People to move their shipments,</p>
  <p>and the most convenient way for Companies/Truckers to find extra work!</p>
</div>

<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <a href="new_haulier_registration_path">
      <button type="button" class="btn btn-default">Hauliers Sign Up</button>
    </a>
  </div>
  <div class="btn-group" role="group">
    <a href="new_shipper_registration_path">
      <button type="button" class="btn btn-default">Truckers Sign Up</button>
    </a>
  </div>
</div>
